enable=all
source-path=SCRIPTDIR
disable=SC2154

# If you're having issues with shellcheck following source, disable the errors via:
disable=SC1009
disable=SC1072
disable=SC1073
disable=SC1083
disable=SC1085
disable=SC1090
disable=SC1091
disable=SC2038
disable=SC2195
disable=SC2312
